<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getTotalCount" resultType="int">
		select 
			count(*) 
		from 
			tbl_board 
		where 
		
		<include refid="criteria"></include>
		
		bno > 0
		
	</select>

	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select
				bno, title, content, writer, regdate, updatedate 
			from
				(
				select /*+INDEX_DESC(tbl_board pk_board) */
					rownum rn, bno, title, content, writer, regdate, updatedate 
				from
					tbl_board
				where 
		]]>
	
		<include refid="criteria"></include>
			
		<![CDATA[
				rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>

	<select id="getList" resultType="org.zerock.domain.BoardVO">
		<!-- CDATA 사용 이유 : 쿼리문 내의 부등호를 표현하기 위함(resultType이 int라면 상관 없음) -->
		<![CDATA[
			select * from tbl_board where bno > 0
		]]>
	</select>
	
	<insert id="insert">
		insert into tbl_board(bno, title, content, writer) 
		values(seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board(bno, title, content, writer) 
		values(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<!-- delete, update는 자동으로 int 값을 리턴하기 때문에 resultType 명시할 필요 없음 -->
	<!-- insert도 원래 int를 자동 리턴하지만 예제에서는 Long 타입을 받기 위해 명시 -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<update id="update">
		update tbl_board 
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		where bno = #{bno}
	</update>
</mapper>